#todo-app .delete { 
    font-weight: lighter;
    background: lightgray;
    border: 1px solid black;
    cursor: pointer;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
  }

#todo-app .increase {
    font-weight: bolder;
    cursor: pointer;
    background-color: rgb(200, 241, 200);
}

#todo-app .decrease {
    margin-left: 70px;
    font-weight: bolder;
    cursor: pointer;
    padding-right: 8px;
    padding-left: 8px;
    background-color: rgb(248, 166, 166);
}

li:hover {
    background: rgb(197, 196, 196);
}

ul {
    display:table; 
    width:50%; 
    padding:0;
}

li {
    display:table-row;
}

li span {
    display:table-cell; 
    text-align:left;
    padding-right: 20px;
}

.todo-quantity {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.status {
    font-weight: bold;
    color: red;
    margin-top: 5px;
    margin-bottom: 10px;
}

.add-name {
    margin-left: 5px;
}

.add {
    margin-left: 5px;
}