.outgoing {
    border: 2px solid white;
    border-radius: 8px;
    height: 20px;
    width: 50px;
    font-size:medium;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    color: #F88D1E;
    transition: width 0.4s ease-in-out;
}
  
.outgoing:focus {
    outline: none;
    width: 700px;
}

.username {
    font-size: small;
    font-style: italic;
    border: 1px solid white;
    border-radius: 5px;
}

ol {
    list-style-type: none;
}

.send {
    display: block;
    margin-top: 10px;
}
