.app {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(80, 40, 2);
  font-weight: 500;
  background-color: bisque;
  height: 820px;
  width: auto;
  padding-left: 50px;
}


select {
  font-family: 'Courier New', Courier, monospace;
  appearance: none;
  outline: 0;
  background: rgb(238, 164, 27);
  background-image: none;
  width: 140px;
  height: 75%;
  color: rgb(80, 40, 2);
  cursor: pointer;
  border: 1px solid  rgb(80, 40, 2);
  border-radius: 5px;
  text-align-last: center;
}

.select {
  position: relative;
  display: block;
  width: 15em;
  height: 2em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
  padding-bottom: 10px; 
}

button {
  display: block;
  margin-top: 20px;
  background: bisque;
  color: rgb(80, 40, 2);
  font-family: 'Courier New', Courier, monospace;
  outline: none;
  border: solid rgb(80, 40, 2) 1px;
  cursor: pointer;
}

button:hover:enabled {
  background-color: rgb(238, 164, 27);
  color: white;
  font-weight: 800;
  outline: none;
}

.initial-content {
  margin-top: 30px;
}

.app {
  padding-top: 30px;
}
